* {box-sizing: border-box}
body{
    font-family: Verdana, sans-serif;
    background: white;
    margin:0;
}
.nav-bar {
    width: 100%;
}
.nav-container {
    justify-content: center;
    overflow: hidden;
    margin: 2.95% auto;
}
.nav-menu {
    display: none;
}
nav.nav-bar ul {
    list-style: none;
}
.nav-list {
    margin: 0 auto;
    width: 100%;
    padding: 0;
}
.nav-list li {
    float: left;
    width:11.5%;
}
.nav-list li a {
    display: block;
    color: #f9f9f9;
    text-shadow: 1px 1px 3px rgba(150, 150, 150, 1);
    padding: 10px 30px;
    margin: 0 5px 0 5px;
    font-size: 1.0em;
    text-align: center;
    text-decoration: none;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}
.nav-list li a:hover {
    -webkit-filter: brightness(1.3);
    padding-top: 80px ;
}
#tile1 {
    background:#00ced7;
    border-radius: 0 0 30px 30px;
}
#tile2 {
    background:#09814A;
    border-radius: 0 0 30px 30px;
}
#tile3 {
    background:#004E89;
    border-radius: 0 0 30px 30px;
}
#tile4 {
    background:#9E0059;
    border-radius: 0 0 30px 30px;
}
#tile5 {
    background:#00889c;
    border-radius: 0 0 30px 30px;
}
#tile6 {
    background:#007b9c;
    border-radius: 0 0 30px 30px;
}
#tile7 {
    background:#D7DFE0;
    border-radius: 0 0 30px 30px;
}

/*definindo a largura do container desktop*/
.container{
    background: #F0F2EF;    
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 2300px;    
}
.container-central{
    padding-top: 200px;
    background: #F0F2EF;    
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 2900px
}
/*definindo a largura do container para disposivitos menores*/
@media (min-width:576px) {
    .container {
        max-width: 540px;
    }
    .container-central {
        max-width: 540px;
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px;
    }
    .container-central {
        max-width: 720px;
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px;
    }
    .container-central {
        max-width: 960px;
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px;
    }
    .container-central {
        max-width: 1140px;
    }
}
/*estilizando o título principal*/
.title1{
    color: #9E0059;
    font-size:4vw;
    margin-top: 170px;
}
.title2{
    font-size:2vw;
    /*margin-top: 60px;*/
}
p.p1.p2{
    font-size:1vw;
}
.boxprincipal{
    background-color: #707070;
    width: 300px;
    height: 300px;
    float: right;
    margin-top: 170px;
}
.boxconteudo{
    background-color: #707070;
    width: 400px;
    height: 300px;
    float: right;  
    margin-top: 15px;
}
.boxconteudo_iframe{
    background-color: #707070;
    width: 300px;
    height: 300px;
    float: right;  
    margin-top: 15px;
}
.boxconteudo_right{
    background-color: #707070;
    width: 450px;
    height: 300px;
    float: right;  
    margin-top: 15px;

}
.boxconteudo_left_iframe{
    background-color: #707070;
    width: 400px;
    height: 300px;
    float: left;  
    margin-top: 15px;

}
.boxconteudo_central{
    background-color: #707070;
    width: 450px;
    height: 150px;
    float: right;  
    margin-top: 15px;

}
.cont_left{
    margin-right: 30px;
}
.cont_left h1{
    color: #A40F63;
}
.cont_right h1{
    color: #A40F63;
    margin-right: 30px;
}
.b1{
    background-color: #E8C0D7;
    width: 150px;
    height: 150px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    padding-top: 30px;

}
.b2{
    background-color: #9E0059;
    width: 150px;
    height: 150px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    padding-top: 30px;
    margin-left: 25px;   
}
.b3{
    background-color: #9E0059;
    width: 150px;
    height: 150px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    padding-top: 100px;
    margin-top: 150px;

}
.b4{
    background-color: #E8C0D7;
    width: 150px;
    height: 150px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    padding-top: 100px;
    margin-top: 150px;
    margin-left: 25px;
}
.b1_1{
    background-color: #E8C0D7;
    width: 150px;
    height: 150px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    padding-top: 80px;  
    border-radius: 150px 0 0 0;
    -webkit-box-shadow: 9px 7px 35px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    9px 7px 35px rgba(50, 50, 50, 0.77);
    box-shadow:         9px 7px 35px rgba(50, 50, 50, 0.77);
}
.b2_2{
    background-color: #9E0059;
    width: 150px;
    height: 150px;    
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    padding-top: 80px; 

    border-radius: 0 150px 0 0;
    -webkit-box-shadow: 9px 7px 35px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    9px 7px 35px rgba(50, 50, 50, 0.77);
    box-shadow:         9px 7px 35px rgba(50, 50, 50, 0.77);
}
.b3_3{
    background-color: #9E0059;
    width: 150px;
    height: 150px;    
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    padding-top: 20px;   
    margin-top: -190px;
    border-radius: 0 0 0 150px;
    -webkit-box-shadow: 9px 7px 35px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    9px 7px 35px rgba(50, 50, 50, 0.77);
    box-shadow:         9px 7px 35px rgba(50, 50, 50, 0.77);
}
.b4_4{
    background-color: #E8C0D7;
    width: 150px;
    height: 150px;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    padding-top: 20px;  
    margin-top: -180px;

    border-radius: 0 0 150px 0;
    -webkit-box-shadow: 9px 7px 35px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    9px 7px 35px rgba(50, 50, 50, 0.77);
    box-shadow:         9px 7px 35px rgba(50, 50, 50, 0.77);
}
h3{
    font-family: "adobe-clean", sans-serif;
    color: #9E0059;
}
#bg1,#bg2,#bg3,#bg4,#bg5{
    width: 60%;
}
section{
    margin-top: 250px;
}
.btn{
    background-color: #9E0059;
    color: #fff;
    width: 250px;
    height: 50px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding-top: 13px;
    border-radius: 25px;
}
/*definindo a imagem de fundo*/
.container{
    /* aqui defino a imagem maior*/
    background-image: url("../assets/BG1.png");
    background-attachment: scroll;
    background-size: 1700px;
    background-repeat: no-repeat;
    background-position: top;
}
.container-central{    
    background-image: url("../assets/BG2.png");   
    background-attachment: scroll;
    background-size: 1500px;
    background-repeat: no-repeat;
    background-position: top;
}
.header-img{
    background-image: url("../assets/Box.png");
    background-size: 850px;
    background-repeat: no-repeat;
    background-position: top;
    height: 600px;    
}
.header-img p{
    padding-top: 60px;
}
.iconbox{
    float: right;
    margin-top: 60px;
}

/* aqui troco a imagem pra cada resolução na ordem do maior pro menor */
@media screen and (max-width: 1500px) {
    .container {
        background-image: url("../assets/BG1.png");
        background-size: 1500px;
    }
       
}
@media screen and (max-width: 1000px) {
    .container {
        background-image: url("../assets/BG1.png");
        background-size: 1000px;
    }
    .title1{
        font-size:3vw;
        margin-top: 120px;
        margin-left: 2px;
    }
    .nav-container {
        margin: 8% auto;
    }
    .nav-list li {
        float: left;
        width: 50%;
    }
    .nav-list li a:hover{
        padding-right: 40%;
        padding-top: 30px ;
    }
    .boxprincipal{
        width: 200px;
        height: 200px;
    }
    .header-img{
        background-size: 650px;
    }
    .header-img img{
        width: 70%;
    }
    .header-img p {
        font-size: 14px;
    }
}
@media screen and (max-width: 800px) {
    .container{
        background-image: url("../assets/BG1.png");
        background-size: 800px;
    }
    .title1{
        margin-top: 20px;
        margin-left: 0px;
    }
    .title2{
        margin-left: 50px;
    }
    .p2{
        margin-left: 50px;
    }
    .nav-container {
        background:#9e0059;
    }
    .nav-menu{
        color: #fff;
        float: left;
        display: block;
        padding: 10px 10px;
        cursor: pointer;
    }
    .nav-list{
        float: left; 
        width: 100%;
        height: 0;
    }
    .nav-open {
        height:auto
    }
    .nav-list li {
        width:100%
    }
    .nav-list li a {
        text-align: left;
    }
    .nav-list li a:hover {
        padding-left: 36%;
        padding-top: 30px;
    }     
    .boxprincipal{
        width: 150px;
        height: 150px;
        margin-top: 30px;
    }
    .header-img{
        background-size: 500px;
    }
    .header-img img{
        width: 40%;
    }
    .header-img p {
        font-size: 12px;
    }
}
@media screen and (max-width: 600px) {
    .container{
        background-image: url("../assets/BG1.png");
        background-size: 600px;
    }
    .title1{
        margin-top: 10px;
        margin-left: 20px;
    }    
    .title2{
        margin-left: 50px;
    }
    .p1{
        font-size: 12px;
    }
    .p2{
        margin-left: 50px;
        font-size: 12px;
    }      
    .boxprincipal{
        width: 150px;
        height: 150px;
        margin-top: 30px;
        margin-left: 30px;
    }
}
@media screen and (max-width: 400px) {
    .container{
        background-image: url("../assets/BG1.png");
        background-size: 400px;
    }
    .title1{
        margin-top: 10px;
        margin-left: 50px;
    }    
    .p1{
        font-size: 12px;
    }
}
@media screen and (max-width: 320px) {
    .container{
        background-image: url("../assets/BG1.png");
        background-size: 320px;
    }
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%
}

.col-auto {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none
}

.col-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%
}

.col-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%
}

.col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
}

.col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%
}

.col-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%
}

.col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
}

.col-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%
}

.col-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%
}

.col-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%
}

.col-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%
}

.col-11 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%
}

.col-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}
@media (min-width:576px) {
    .col-sm {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }
    .col-sm-auto {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none
    }
    .col-sm-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }
    .col-sm-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }
    .col-sm-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }
    .col-sm-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }
    .col-sm-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }
    .col-sm-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .col-sm-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }
    .col-sm-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }
    .col-sm-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }
    .col-sm-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }
    .col-sm-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }
    .col-sm-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }    
}
@media (min-width:768px) {
    .col-md {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }
    .col-md-auto {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none
    }
    .col-md-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }
    .col-md-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }
    .col-md-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }
    .col-md-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }
    .col-md-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }
    .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .col-md-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }
    .col-md-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }
    .col-md-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }
    .col-md-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }
    .col-md-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }
    .col-md-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}
@media (min-width:992px) {
    .col-lg {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }
    .col-lg-auto {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none
    }
    .col-lg-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }
    .col-lg-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }
    .col-lg-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }
    .col-lg-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }
    .col-lg-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }
    .col-lg-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .col-lg-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }
    .col-lg-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }
    .col-lg-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }
    .col-lg-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }
    .col-lg-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }
    .col-lg-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}
@media (min-width:1200px) {
    .col-xl {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%
    }
    .col-xl-auto {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none
    }
    .col-xl-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%
    }
    .col-xl-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%
    }
    .col-xl-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%
    }
    .col-xl-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }
    .col-xl-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%
    }
    .col-xl-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    .col-xl-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%
    }
    .col-xl-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%
    }
    .col-xl-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%
    }
    .col-xl-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%
    }
    .col-xl-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%
    }
    .col-xl-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}

/*estilizando o carousel*/
.mySlides {display: none}
.mySlides img {
    vertical-align: middle;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #9E0059;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}

